@import './fonts.css';
* {
    box-sizing: border-box
}
html {
    font-family: 'SF Pro display';
    font-size: 15px;
}
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}
ul, ol {
    padding: 0;
    margin: 0;
}
.page-nav {
    background-color: rgba(45,45,45,0.98);
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 0 8px;
}
.page-nav__menu {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    width: 100%;
    list-style: none;
}
.page-nav__link {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.page-nav__switcher {
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    outline: none;
    font-size: 1rem;
    position: relative;
}
.page-nav__switcher:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    top: 5px;
    left: 0;
    transition: all 200ms;
}
.page-nav__switcher:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 200ms;
} 
.page-nav.opened .page-nav__switcher:before {
    transform: translateY(5px) rotate(45deg);
}
.page-nav.opened .page-nav__switcher:after {
    transform: translateY(-4px) rotate(-45deg);
}
.page-nav__controls {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media (max-width: 767px) {
    .page-nav__controls {
        display: flex;
    }
    .page-nav.opened {
        background-color: black; 
    }
    .page-nav__menu {
        position: absolute;
        top:  50px;
        left: 0;
        width: 100vw;
        min-height: 100vh;
        background-color: black;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 45px;
        display: flex;
        visibility: hidden;
        transition: all 200ms;
        transform: scaleY(0);
        transform-origin: top;
    }
    .page-nav.opened .page-nav__menu {
        visibility: visible;
        transform: scaleY(1);
    }
    .page-nav__link  {
        padding: 15px 0;
        border-bottom: 1px solid #292929;
        opacity: 0;
        transition: opacity 150ms 30ms;
    }
    .page-nav.opened .page-nav__link  {
        opacity: 1;
    }

}
.chapter-vav {
   background: #f6f6f6;
}
.chapter-nav-content {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 970px;
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
}
.chapter-nav-item {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-self: center;
}
.chapter-nav-item_link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.section-iphone-x {
    background: #f6f6f6;
    max-width: 1980px;
    margin-top: 20px;
    padding-bottom: 64px;

}
.header-for-book {
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 55px;
}
.sub-header-for-book {
    display: block;
    text-align: center;
    font-size: 41px;
    padding-bottom: 10px;
}
.book {
    color: #888;
}
.wrapper-for-book {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 350px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.more-information {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.3125rem;
    color: #0070c9;
    position: relative;
}
/* Here is all large pictures */
            /*|*/
.iphone_x_large_2x {
    width: 980px;
    margin: 0 auto;
    display: block;
    margin-top: 64px;
}
.iphone_8_large_2x {
    width: 600px;
    margin: 0 auto;
    display: block;
    margin-top: 64px;
}
.compare-img {
    width: 587px;
    display: block;
    height: 449px;
    margin-top: 32px;
    margin-left: 30px;
}

.ios-large-img {
    width: 828px;
    height: 527px;
    display: flex;
}
            /*|*/
/* Here is all large pictures */
.section-iphone-8 {
    background-color: #f9f0eb;
    margin-top: 20px;
    max-width: 1980px;
}
.section-compare {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1370px;
    margin: 20px auto;
}
.more-information__comparing {
    display: flex;
    text-decoration: none;
    font-size: 1.3125rem;
    color: #0070c9;
    position: relative;
}
.more-information:after, .more-information__comparing:after {
    content: '>';
    color: #0070c9;
    font-size: 1.3125rem;
}

.section-compare h2 {
    font-size: 3.5rem;
}

.comparing-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 150px;
}

.section-big-step {
    background-color: #FAFAFA;
    width: 1370px;
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    height: 700px;
    align-items: center;
}
.big-step_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    width: 675px;
}

.header-for-big-step {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.sub-header-for-big-step {
    display: block;
    text-align: center;
    font-size: 1.3125rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 0 40px;
    font-weight: 100;
}

.wrapper-for-book_2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 350px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.airpods_accessories {
    display: flex;
    flex-direction: row;
    width: 1370px;
    margin: 0 auto;
    justify-content: space-between;
}
.airpods-container {
    padding-top: 60px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    width: 670px;
    height: 550px;
    background-image: url("../../assets/images/lesson_6/airpods_large_2x.jpg");
}
.accessories-container {
    padding-top: 60px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    width: 670px;
    height: 550px;
    background-image: url("../../assets/images/lesson_6/accessories_large_2x.jpg");
}
.header-for-acs {
    display: block;
    text-align: center;
    font-size: 1.6875rem;
}
.sub-header-for-acs {
    display: block;
    font-size: 2.5rem;
    text-align: center;
}
